 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica,"ו"
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 180%; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica,"ו",sans-serif; TEXT-ALIGN: center
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TR {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
LI {
	LIST-STYLE-TYPE: none
}
HR {
	CLEAR: both
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.f_gray {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
A:active {
	COLOR: #bc2931
}
.f_red {
	COLOR: red; TEXT-DECORATION: none
}
A.red:link {
	COLOR: red; TEXT-DECORATION: none
}
A.red:active {
	COLOR: red; TEXT-DECORATION: none
}
A.red:visited {
	COLOR: #c60; TEXT-DECORATION: none
}
A.red:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.f_blue {
	COLOR: #1f3a87; TEXT-DECORATION: none
}
A.blue:link {
	COLOR: #1f3a87; TEXT-DECORATION: none
}
A.red:active {
	COLOR: #1f3a87; TEXT-DECORATION: none
}
A.blue:visited {
	COLOR: #06f; TEXT-DECORATION: none
}
A.blue:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.wrap {
	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 968px
}
.sidebottom {
	MARGIN: 1px
}
.sideleft {
	FLOAT: left; WIDTH: 574px; MARGIN-RIGHT: 24px
}
.sideright {
	FLOAT: right; WIDTH: 370px
}
.wrap:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '[DO NOT LEAVE IT IS NOT REAL]'
}
.wrap {
	DISPLAY: inline-block
}
.wrap {
	DISPLAY: block
}
.sideleft {
	MARGIN-BOTTOM: -32767px! important; PADDING-BOTTOM: 32767px! important
}
.sideright {
	MARGIN-BOTTOM: -32767px! important; PADDING-BOTTOM: 32767px! important
}
.sidebottom {
	MARGIN-BOTTOM: -32767px! important; PADDING-BOTTOM: 32767px! important
}

@media Unknown    
{
.sideleft {
	MARGIN-BOTTOM: 0px! important; PADDING-BOTTOM: 0px! important
}
.sideright {
	MARGIN-BOTTOM: 0px! important; PADDING-BOTTOM: 0px! important
}
.sidebottom {
	MARGIN-BOTTOM: 0px! important; PADDING-BOTTOM: 0px! important
}
.sideleft:unknown {
	DISPLAY: block; MARGIN-BOTTOM: -32767px! important; PADDING-TOP: 32767px! important; HEIGHT: 0px; content: [DO NOT LEAVE IT IS NOT REAL]
}
.sideright:unknown {
	DISPLAY: block; MARGIN-BOTTOM: -32767px! important; PADDING-TOP: 32767px! important; HEIGHT: 0px; content: [DO NOT LEAVE IT IS NOT REAL]
}
.sidebottom:unknown {
	DISPLAY: block; MARGIN-BOTTOM: -32767px! important; PADDING-TOP: 32767px! important; HEIGHT: 0px; content: [DO NOT LEAVE IT IS NOT REAL]
}
    }
.header {
	CLEAR: both; BACKGROUND: #fff; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 83px
}
.header .top {
	CLEAR: both; OVERFLOW: hidden; BORDER-BOTTOM: #0d49a4 3px solid; HEIGHT: 55px
}
.header .top .logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.header .top .search {
	FLOAT: right; PADDING-TOP: 16px
}
.search SELECT {
	BORDER-RIGHT: #a7a6aa 1px solid; BORDER-TOP: #a7a6aa 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #a7a6aa 1px solid; COLOR: #000; BORDER-BOTTOM: #a7a6aa 1px solid; FONT-FAMILY: "ו"; HEIGHT: 18px
}
.search .btn {
	BORDER-RIGHT: #a7a6aa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a7a6aa 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 0px; BORDER-LEFT: #a7a6aa 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #a7a6aa 1px solid; HEIGHT: 20px
}
.header .menu {
	CLEAR: both; BORDER-RIGHT: #e6e6e6 1px solid; OVERFLOW: hidden; HEIGHT: 25px
}
.header .menu A {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #e6e6e6 1px solid; PADDING-TOP: 3px
}
.header .menu .active {
	BACKGROUND: #e9eef4
}
.header .menu A:visited {
	COLOR: #000
}
.header .menu A:hover {
	BACKGROUND: #1f3a87; COLOR: #fff
}
#content {
	FONT-SIZE: 14px; OVERFLOW: hidden; LINE-HEIGHT: 1.7em
}
#content P {
	FONT-SIZE: 14px; MARGIN: 13px 0px
}
#content DIV {
	FONT-SIZE: 14px; MARGIN: 13px 0px
}
#content B {
	FONT-SIZE: 14px
}
#content NOBR {
	FONT-SIZE: 14px
}
#content STRONG {
	FONT-SIZE: 14px
}
#content A {
	FONT-SIZE: 14px
}
#content SPAN {
	FONT-SIZE: 14px
}
#content FONT {
	FONT-SIZE: 14px
}
#content U {
	FONT-SIZE: 14px
}
#content B {
	FONT-SIZE: 14px
}
#content CENTER {
	FONT-SIZE: 14px
}
#content IMG {
	BORDER-RIGHT: #e6e6e6 1px solid; BORDER-TOP: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px solid
}
.introduce {
	BORDER-RIGHT: #e7e7e7 1px solid; PADDING-RIGHT: 14px; BORDER-TOP: #e7e7e7 1px solid; PADDING-LEFT: 14px; FONT-SIZE: 14px; BACKGROUND: #fff; PADDING-BOTTOM: 6px; MARGIN: 5px 0px; BORDER-LEFT: #e7e7e7 1px solid; COLOR: #1f3a87; PADDING-TOP: 6px; BORDER-BOTTOM: #e7e7e7 1px solid
}
#commentcontent {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 540px; CURSOR: text; BORDER-BOTTOM: #e0e0e0 1px solid; HEIGHT: 100px
}
.btn {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(img/input_bg1.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 53px; CURSOR: hand; LINE-HEIGHT: 20px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.comm {
	CLEAR: both; BACKGROUND: url(img/end_p1.gif) no-repeat left top; MARGIN: 3px 0px; HEIGHT: 34px
}
.bg_content {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(img/bg_content.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px
}
.righttitle {
	CLEAR: both; BACKGROUND: url(img/end_bg2.gif) repeat-x 0px 12px; HEIGHT: 23px
}
.righttitle H6 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.picText1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 548px; PADDING-TOP: 6px
}
.picText1 .col {
	FLOAT: left; WIDTH: 182px
}
.picText1 .col IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN-LEFT: 24px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.picText1 .col H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN-LEFT: 24px; WIDTH: 135px; PADDING-TOP: 3px
}
.picText2 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 340px; PADDING-TOP: 6px
}
.picText2 .col {
	FLOAT: left; WIDTH: 170px
}
.picText2 .col IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN-LEFT: 18px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.picText2 .col H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN-LEFT: 18px; WIDTH: 135px; PADDING-TOP: 3px
}
.hr {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(img/bg2.gif) repeat-x; MARGIN: 8px 0px; HEIGHT: 1px
}
.pic {
	FLOAT: left; WIDTH: 110px; HEIGHT: 50px
}
.pic IMG {
	MARGIN: 5px 0px
}
.text {
	FLOAT: left; WIDTH: 230px; HEIGHT: 50px
}
.text UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.PageNum {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 540px; LINE-HEIGHT: 120%; TEXT-ALIGN: left
}
.PageNum .active {
	BORDER-RIGHT: #333 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #333 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 4px 5px 0px 0px; BORDER-LEFT: #333 1px solid; COLOR: #bc2931; PADDING-TOP: 2px; BORDER-BOTTOM: #333 1px solid; TEXT-DECORATION: none
}
.PageNum .dot {
	FLOAT: left; TEXT-DECORATION: none
}
.PageNum A {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f3f3f3; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 4px 5px 0px 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid; TEXT-DECORATION: none
}
.PageNum A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.PageNum A:hover {
	BORDER-RIGHT: #131b31 1px solid; BORDER-TOP: #131b31 1px solid; BACKGROUND: #1f3a87; BORDER-LEFT: #131b31 1px solid; COLOR: #fff; BORDER-BOTTOM: #131b31 1px solid; TEXT-DECORATION: none
}
.rightcontent {
	CLEAR: both
}
.rightcontent .title {
	CLEAR: both; BACKGROUND: url(img/end_bg2.gif) repeat-x 50% bottom; MARGIN: 0px auto; WIDTH: 344px; HEIGHT: 25px
}
.rightcontent .title UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.rightcontent .title LI {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #e9f1f6; FLOAT: left; MARGIN: 0px 5px 0px 0px; BORDER-LEFT: #ccc 1px solid; HEIGHT: 23px
}
.rightcontent .title LI H2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.rightcontent .title .active {
	BACKGROUND: #fff; FLOAT: left; MARGIN: 0px 5px 0px 0px; HEIGHT: 24px
}
.rightcontent .title LI A {
	COLOR: #1f3a87; TEXT-DECORATION: none
}
.rightcontent .title LI A:visited {
	COLOR: #1f3a87
}
.rightcontent .title LI A:hover {
	COLOR: #bc2931
}
.rightcontent .picList {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 336px
}
.rightcontent .picList UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.rightcontent .picList LI {
	FLOAT: left; WIDTH: 50%
}
.rightcontent .picList LI IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.rightcontent .picList LI H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 130px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
.rightcontent .list {
	CLEAR: both
}
.rightcontent .list UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.rightcontent .list LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 21px; BACKGROUND: url(img/end_i5.gif) no-repeat 13px 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 1px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.rightcontent .list LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px
}
.rightcontent .list A {
	COLOR: #1f3a87
}
.rightcontent .list A:hover {
	COLOR: #bc2931
}
.rightcontent .more {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 344px
}
.rightcontent .more SPAN {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(img/end_i4.gif) no-repeat 0px 11px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.footer {
	MARGIN: 0px auto; WIDTH: 750px; LINE-HEIGHT: 160%
}
.footer .text1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 5px; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px solid
}
.footer A:visited {
	COLOR: #000
}
.fb {
	FONT-WEIGHT: bold
}
.fi {
	FONT-STYLE: italic
}
.f10 {
	FONT-SIZE: 10px
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f14 A {
	FONT-SIZE: 14px
}
H1 {
	LINE-HEIGHT: 1.6em
}
H2 {
	LINE-HEIGHT: 1.6em
}
H3 {
	LINE-HEIGHT: 1.6em
}
H4 {
	LINE-HEIGHT: 1.6em
}
H5 {
	LINE-HEIGHT: 1.6em
}
H6 {
	LINE-HEIGHT: 1.6em
}
P {
	LINE-HEIGHT: 1.6em
}
H1 {
	FONT-SIZE: 24px
}
H2 {
	FONT-SIZE: 20px
}
H3 {
	FONT-SIZE: 18px
}
H4 {
	FONT-SIZE: 14px
}
H5 {
	FONT-SIZE: 13px
}
H6 {
	FONT-SIZE: 12px
}
f14  {
	FONT-SIZE: 14px
}
.h100 {
	CLEAR: both; HEIGHT: 100px; voerflow: hidden
}
.i1 {
	LETTER-SPACING: 0px
}
.i2 {
	LETTER-SPACING: 0px
}
.i3 {
	LETTER-SPACING: 0px
}
.i6 {
	LETTER-SPACING: 0px
}
.i4 {
	LETTER-SPACING: 0px
}
.i7 {
	LETTER-SPACING: 0px
}
.pages {
	LETTER-SPACING: 0px
}
.i1 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(img/i1.gif) no-repeat left 9px
}
.i2 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(img/i2.gif) no-repeat left 9px; COLOR: #1f3a87
}
.i2 LI A:link {
	COLOR: #da6815; TEXT-DECORATION: none
}
.i2 LI A:visited {
	COLOR: #da6815; TEXT-DECORATION: none
}
.i3 LI A:visited {
	COLOR: #da6815; TEXT-DECORATION: none
}
.i2 LI A:hover {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.i3 LI A:hover {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.i2 LI A:active {
	COLOR: #bc2931
}
.i3 LI A:active {
	COLOR: #bc2931
}
.i3 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(img/i3.gif) no-repeat left 9px; COLOR: #467902
}
.i3 LI A:link {
	COLOR: #467902; TEXT-DECORATION: none
}
.i4 LI {
	PADDING-LEFT: 10px; BACKGROUND: url(img/i4.gif) no-repeat left 10px
}
.i6 {
	PADDING-LEFT: 22px; BACKGROUND: url(img/i6.gif) no-repeat left 3px
}
.i6 LI {
	PADDING-LEFT: 22px; BACKGROUND: url(img/i6.gif) no-repeat left 3px
}
.i7 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(img/i7.gif) no-repeat left 9px
}
.pages {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.i5 {
	PADDING-LEFT: 18px; BACKGROUND: url(img/i5.gif) no-repeat left 5px
}
.i5_1 {
	PADDING-LEFT: 18px; BACKGROUND: url(img/i5.gif) no-repeat left 3px
}
.more SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(img/i4.gif) #fff no-repeat 3px 7px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.more A {
	COLOR: #1f3a87
}
.more A:visited {
	COLOR: #1f3a87
}
.more A:hover {
	COLOR: #bc2931
}
.blank3 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 3px
}
.blank6 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 6px
}
.blank9 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 9px
}
.blank12 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 12px
}
.blank9w {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: #fff; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 9px
}
.blank15 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 15px
}
.blank20 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 20px
}
.b1 {
	BORDER-BOTTOM: #e6e6e6 1px solid
}
.b1_1 {
	BORDER-TOP: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px solid
}
.b2 {
	BORDER-TOP: #e6e6e6 1px solid
}
.b3 {
	BORDER-TOP: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px dashed
}
.b4 {
	CLEAR: both; MARGIN-BOTTOM: 3px; OVERFLOW: hidden; BORDER-BOTTOM: #1f3a87 1px solid; HEIGHT: 3px
}
.bgf {
	BACKGROUND: #fff
}
.bg1 {
	BACKGROUND: #f9f9f9
}
.bg2 {
	BACKGROUND: #f0f0f0
}
.bg3 {
	BACKGROUND: #e6e6e6
}
.xgtext {
	MARGIN: 5px
}
.m1 {
	MARGIN: 1px
}
.p3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.p6 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.p3_6 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.p5_9 {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.p6_12 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.p6_12_1 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 6px; MARGIN: 0px 1px; PADDING-TOP: 6px
}
.p3_12 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.p3_12_1 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 3px; MARGIN: 0px 1px; PADDING-TOP: 3px
}
.m0_5 {
	MARGIN: 0px 5px
}
.m5_0 {
	MARGIN: 5px 0px
}
.cb {
	CLEAR: both
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.tr {
	TEXT-ALIGN: right
}
.tc {
	TEXT-ALIGN: center
}
.clear {
	CLEAR: both
}
.hidden {
	DISPLAY: none
}
.unLine {
	TEXT-DECORATION: none
}
.unLine A {
	TEXT-DECORATION: none
}
.noborder {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.back1 {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: #000; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 1px
}
