TD {
	FONT-SIZE: 12px
}
BODY {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
.small {
	FONT-SIZE: 9pt
}
.finput {
	BORDER-RIGHT: 0px ridge; BORDER-TOP: #727272 1px ridge; FONT-SIZE: 12px; BORDER-LEFT: #727272 1px ridge; BORDER-BOTTOM: 0px ridge
}
.foxinput {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; BORDER-LEFT: #ffffff 1px
}
.blue {
	COLOR: #000099; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
.black {
	COLOR: #000000; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.black:hover {
	COLOR: #ff0000
}
.white {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:hover {
	COLOR: #ffefa5; TEXT-DECORATION: underline
}
.hpblue {
	FONT-SIZE: 12px; COLOR: #0160b1; LINE-HEIGHT: 18px; FONT-FAMILY: "ו"; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.hpbg1 {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(images/help_7.gif); BACKGROUND-REPEAT: no-repeat
}
.hpbg2 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(images/help_8.gif); BACKGROUND-REPEAT: no-repeat
}
.hp14 {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.topred {
	FONT-SIZE: 12px; COLOR: #de070f; TEXT-DECORATION: none
}
.cbw {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
