.left1 {
	MARGIN-TOP: 35px; MARGIN-LEFT: 42px
}
.left2 {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; LEFT: 0px; MARGIN: 0px; WIDTH: 167px; COLOR: #00468b; PADDING-TOP: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; POSITION: absolute; TOP: 28px; HEIGHT: 240px; TEXT-ALIGN: left
}
#uluserid {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#uluserid LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI#lione INPUT {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #dedede 1px solid; WIDTH: 75px; COLOR: #ffffff; BORDER-BOTTOM: #dedede 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #7aa8c8
}
LI#lithree INPUT {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #dedede 1px solid; WIDTH: 75px; COLOR: #ffffff; BORDER-BOTTOM: #dedede 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #53a4c6
}
LI#lione {
	LEFT: 42px; POSITION: absolute; TOP: 38px
}
LI#litwo {
	LEFT: 120px; POSITION: absolute; TOP: 39px
}
LI#lithree {
	LEFT: 42px; POSITION: absolute; TOP: 61px
}
LI#lifour {
	LEFT: 120px; POSITION: absolute; TOP: 62px
}
.left3 {
	CLEAR: both; PADDING-LEFT: 10px; LEFT: 0px; MARGIN: 0px; PADDING-TOP: 10px; POSITION: absolute; TOP: 88px
}
.left3 A:link {
	COLOR: #00438c; TEXT-DECORATION: none
}
.left3 A:visited {
	COLOR: #00438c; TEXT-DECORATION: none
}
.left3 A:hover {
	COLOR: #2e93ff; TEXT-DECORATION: underline
}
.left4 {
	CLEAR: both; PADDING-LEFT: 10px; LEFT: 0px; MARGIN: 0px; PADDING-TOP: 10px; POSITION: absolute; TOP: 62px
}
.left4 A:link {
	COLOR: #00438c; TEXT-DECORATION: none
}
.left4 A:visited {
	COLOR: #00438c; TEXT-DECORATION: none
}
.left4 A:hover {
	COLOR: #2e93ff; TEXT-DECORATION: underline
}
.sgo {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.input1 {
	BORDER-RIGHT: #004897 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #004897 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #004897 1px solid; WIDTH: 70px; COLOR: #004897; PADDING-TOP: 0px; BORDER-BOTTOM: #004897 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #e8f4ff
}
#currentlogin {
	MARGIN: 0px; WIDTH: 145px; LINE-HEIGHT: 20px; PADDING-TOP: 30px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
#currentlogin IMG {
	BORDER-RIGHT: #002b58 1px solid; BORDER-TOP: #002b58 1px solid; BORDER-LEFT: #002b58 1px solid; BORDER-BOTTOM: #002b58 1px solid; TEXT-ALIGN: center
}
.b1 {
	FONT-SIZE: 12px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.b2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.f1 {
	BORDER-RIGHT: #718bd6 1px solid; BORDER-TOP: #718bd6 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #718bd6 1px solid; BORDER-BOTTOM: #718bd6 1px solid
}
.t1 {
	BORDER-TOP-STYLE: none; BORDER-BOTTOM: #666666 1px dashed; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
.t2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #d2e1fe; TEXT-DECORATION: none
}
.b2 {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.f2 {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #666666 1px solid; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #ffffff
}
A:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
IMG.s16x16 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; MARGIN-RIGHT: 3px; BORDER-BOTTOM: 0px
}
IMG.sfolder {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 2px 3px 0px 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; WIDTH: 16px; BORDER-BOTTOM: 0px; HEIGHT: 16px
}
IMG.pm {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 1px 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
DIV.lineback {
	BACKGROUND-POSITION: 4px 0px; DISPLAY: none; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(/images/line2.gif); BACKGROUND-REPEAT: repeat-y
}
DIV.lb {
	BACKGROUND-POSITION: 4px 0px; BACKGROUND-IMAGE: url(/images/line2.gif); BACKGROUND-REPEAT: repeat-y
}
DIV.mi {
	BACKGROUND-POSITION: 4px 0px; PADDING-LEFT: 17px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/line.gif); PADDING-BOTTOM: 1px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
DIV.lmi {
	BACKGROUND-POSITION: 4px 0px; PADDING-LEFT: 17px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/line1.gif); PADDING-BOTTOM: 3px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
DIV.fi {
	BACKGROUND-POSITION: 4px 0px; PADDING-LEFT: 33px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/line2.gif); PADDING-BOTTOM: 1px; TEXT-INDENT: -33px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-y
}
DIV.pp {
	DISPLAY: none; PADDING-LEFT: 20px
}
.m0 {
	MARGIN: 0px
}
.m4 {
	MARGIN: 6px
}
.m9 {
	PADDING-LEFT: 45px
}
.m10 {
	MARGIN: 5px 0px 0px 3px
}
.upinput {
	BORDER-RIGHT: #718bd6 1px solid; BORDER-TOP: #718bd6 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #718bd6 1px solid; WIDTH: 80px; COLOR: #000d3c; BORDER-BOTTOM: #718bd6 1px solid; BACKGROUND-COLOR: #d2e1fe
}
